*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body,
.container {
    background: linear-gradient(to left, #FC9F5B, #FBD1A2);
    display: flex;
    justify-content: center;
}

.forkify-container {
    width: 80%;
    background-color: white;
}

.logo {
    display: flex;
}

.logo h2 {
    font-style: italic;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(238, 225, 225);
    padding: 10px;
}

.input-space {
    padding: 7px 12px;
    border-radius: 15px;
    border: 0;
    width: 280px;
}

.input-space:focus {
    outline: 0;
}

::placeholder {
    opacity: 0.5;
}

.btn1 {
    padding: 7px 20px;
    position: relative;
    left: -57px;
    border-radius: 15px;
    border: 0;
    background: linear-gradient(to left, #FC9F5B, #FBD1A2);    cursor: pointer;
}

.btn1:active {
    transform: scaleX(0.9);
    border: 0;
}

.btn1:focus {
    outline: 0;
}

.favorites i {
    color: #c7621a;
    font-size: 1.7em;
}

.favorites i:active {
    transform: scaleY(0.9);
}

.dropbtn {
    background-color: #c7621a;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #FC9F5B;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    /* display: inline-block; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: block;
    position: absolute;
    right: 1px;
    top: 40px;
    z-index: 1;

}

.dropdown-cont {
    display: flex;
    /* position: absolute; */
    background-color: rgb(238, 235, 235);
    width: 250px;
    padding: 12px 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-cont img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Links inside the dropdown */
.details {
    margin-left: 5px;
}
.dropdown-cont h6 {
    color: #FC9F5B;
    text-transform: uppercase;
    display: block;
}

.dropdown-cont p {
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-cont a:hover {background-color: rgb(71, 54, 54)}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:none;}

.page-layout {
    display: flex;
}

.left {
    width: 20%;
}

.left .menus {
    margin: 15px;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    cursor: pointer;
}

.left .menus h6 {
    color: #FC9F5B;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}

.left .menus p {
    font-size: 12px;
}

.left img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}



.middle {
    width: 50%;
}

.img-container {
    position: relative;
}

.img-container h2 {
    position: absolute;
    color: #FC9F5B;
    font-style: italic;
    bottom: -15px;
    left: 80px;
    /* background-color: #FC9F5B; */
    text-align: center;
}

.servings {
    background-color: rgb(228, 222, 222);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.serving-btn {
    background-color: inherit;
    border: 0;
}

.servings i {
    color: #c7621a;
    cursor: pointer;
}

.servings i:active {
    transform: scaleY(0.9);
}

.serving span{
    margin: 0 5px;
}

.servings-details {
    display: flex;
    background-color: rgb(209, 207, 207);
    padding: 5px;
}

.increment {
    font-size: 12px;
}

#addFavorite {
    font-size: 35px;
}

.relative {
    background-color: rgb(209, 207, 207);
    position: relative;
    /* height: 25rem; */
}

.left-servings {
    margin: 4px 4px;
}

.detailsss {
    display: flex;
    margin: 9px;
}

.detailsss i{
    color: #c7621a;
    margin-right: 7px;
}

.deta {
    display: flex;
}

.deta span {
    margin-right: 6px;
}

.text-center{
    text-align: center;
}

.btn2 {
    padding: 10px;
    border-radius: 40px;
    background-color: #FC9F5B;
    border: 0;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
    /* position: absolute; */
    /* height: auto; */
    /* left: 30%;
    bottom: 0; */
}

.btn2:active {
    transform: scaleY(0.9);
}

.btn2:focus {
    outline: 0;
}

.footer {
    background-color: rgb(226, 223, 223);
    padding: 30px;
    display: block;
    text-align: center;
}

.inc h3 {
    color: #FC9F5B;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
    margin-bottom: 10px;
    transform: rotate(-7deg);
}

.inc p {
    text-transform: capitalize;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
    margin: 15px 0;
}

.direction {
    padding: 12px 10px;
    border-radius: 20px;
    border: 0;
    background-color: #FC9F5B;
    color: white;
    text-transform: uppercase;
}

.direction a {
    text-decoration: none;
    color: white;
}

.direction:active {
    transform: scaleY(0.9);
}




.right {
    /* width: 30%; */
    margin: 10px;
    display: block;
}

.right h2 {
    text-transform: uppercase;
    color: #FC9F5B;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inputs {
    display: block;
    margin: 15px 5px;
}

.shopping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.shopping span {
    border: 1px solid rgb(187, 180, 180) ;
    padding: 5px;
    margin-right: 8px;
}

.shopping p{
    margin-top: 5px;
}

.inputs p {
    margin-bottom: 10px;
}


@media (max-width: 768px){

    .forkify-container {
        width: 100%;
        height: 100%;
    }

    .input-space {
        width: 200px;
    }

    .img-container h2 {
        font-size: 17px;
        left: 16px;
        bottom: 1px;
        line-height: 13px;
    }

    .left {
        width: 25%;
    }

    .middle {
        width: 30%;
    }

    /* .right {
        width: 25%;
    } */

    .servings {
        display: block;
        padding: 3px;
    }

    .serving span{
        margin: 5px;
    }

    .servings-details {
        display: block;
        padding: 5px;
        height: auto;
    }

    .left-servings {
        margin: 2px 2px;
    }

    #addFavorite {
        font-size: 25px;
    }

    .detailsss {
        margin-bottom: 3px;
    }

    .detailsss p{
        font-size: 13px;
    }

    .deta p {
        font-size: 10px;
    }

    .btn2 {
        text-align: center;
        /* position: absolute;
        left: 80px; */
        bottom: 10px;
        font-size: 20px;
    }

    .btn2 p {
        display: none;
    }

    .right h2 {
        font-size: 17px;
        text-align: center;
    }

    .shopping {
        display: flex;
        margin: 20px 5px;
        text-align: center;
    }

    .shopping span {
        margin-bottom: 5px;
    }
}

@media (max-width: 600px) {

    body,
    .container {
        background: linear-gradient(to left, #FC9F5B, #FBD1A2);
        /* display: flex;
        justify-content: center; */
    }

    .forkify-container {
        width: 100%;
        height: 100%;
    }

    .logo img {
        font-size: 40px;
    }

    .input-space {
        width: 110px;
    }

    .btn1 {
        padding: 7px 10px;
        left: -38px;
    }

    .left {
        width: 25%;
    }

    .left .menus h6 {
        font-size: 8px;
    }

    .left .menus p {
        font-size: 9px;
    }

    .middle {
        width: 45%;
    }

    /* .right {
        width: 30%;
    } */

    .left img {
        width: 20px;
        height: 20px;
    }

    .servings {
        display: block;
    }

    .serving {
        margin: 5px 0;
    }

    .servings-details {
        display: block;
        padding: 5px;
        height: auto;
        width: 100%;
    }

    .detailsss {
        margin: 0;
    }

    .detailsss i{
        font-size: 10px;
    }

    .direction {
        font-size: 10px;
    }

    .shopping p {
        margin-top: 15px;
        font-size: 12px;
    }

    .shopping span {
        font-size: 12px;
    }

    .right h2{
        font-size: 10px;
    }
    .inputs {
        margin: 0;
    }

    .shopping {
        display: block;
        margin-top: 20px;
    }
}